@import 'bower_components/bourbon/app/assets/stylesheets/bourbon';
@import 'bower_components/neat/app/assets/stylesheets/neat';
@import 'bower_components/newsapps-styles/init-helpers';
@import 'bower_components/newsapps-styles/initialize';

@import 'helpers/grid';
@import 'helpers/colors';
@import 'helpers/mixins';
@import 'helpers/typography';
@import 'helpers/theme';
@import 'helpers/ads';

@import 'components/header';
@import 'components/banner';
@import 'components/nav';
@import 'components/sharelines';
@import 'components/flexslider';

.prose h1{
  margin: 0 0 0.6em;
  line-height:1.25em;
}
.findings{
  border-top:1px solid #ffc200;
  border-bottom: 1px solid #ffc200;
  position:relative;
  margin: 0.5em 0;
  ul{
    margin:1em;
    padding-left:2em;
  }
  @include media($default-768){
    @include span-columns(4 of 8);
  }
}

