{% extends "templates/_base_sub.html" %}

{% block styles %}
{{ super() }}
{% endblock %}

{%block nav %}
<nav id="menu">
  <ul>
    <a href="../{{OVERVIEW.slug }}"><li>{{ OVERVIEW.headline }}</li></a>
    <a href="../{{MAIN.slug }}"><li>{{ MAIN.headline }}</li></a>
    <a href="../{{VIDEO.slug }}"><li>{{ VIDEO.headline }}</li></a>
    <a href="../{{DATA.slug }}"><li class="selected">{{ DATA.headline }}</li></a>
  </ul>
</nav>
{% endblock %}

{% block bannerimg %}
<div class="banner-image {{DATA.slug}}"></div>
{% endblock %}

{%block headline %}
<h1>{{ DATA.headline}}</h1>
<p class="subhead">{{DATA.subhead }}</p>
<p class="byline">By <a href="{{ DATA.author_url}} ">{{ DATA.byline }}</a>, <a href="{{ DATA.author_2_url}} ">{{ DATA.byline_2 }}</a>, <a href="{{ DATA.author_3_url}} ">{{ DATA.byline_3 }}</a> and <a href="{{ DATA.author_4_url}} ">{{ DATA.byline_4 }}</a> | {{ DATA.pub_date }}</p>
{%endblock%}

{% block content %}
<div class="story-content">
  <!-- <h2>{{DATA.headline}}</h2> -->
  <div class="sharelines">
    <ul>
      <li>
        <a href="https://twitter.com/intent/tweet?text={{ DATA.shareline_1 | urlencode }}%20http%3A%2F%2Fapps.texastribune.org%2Fblood-lessons%2F{{ META.section_4_slug }}%20&via=texastribune" title="share on Twitter" class="social-share" target="_blank">
        <i class="fa fa-twitter"></i>
        </a>
        <a href="https://www.facebook.com/dialog/share?app_id=154122474650943&display=popup&href=http%3A%2F%2Fapps.texastribune.org%2Fblood-lessons%2F{{ META.section_4_slug }}&redirect_uri=http%3A%2F%2Fapps.texastribune.org%2Fblood-lessons%2F{{ META.section_4_slug }}" title="share on Facebook" class="social-share" target="_blank">
        <i class="fa fa-facebook"></i>
        </a>
        <p>{{ DATA.shareline_1 }}</p>
      </li>
      <li>
        <a href="https://twitter.com/intent/tweet?text={{ DATA.shareline_2 | urlencode }}%20http%3A%2F%2Fapps.texastribune.org%2Fblood-lessons%2F{{ META.section_4_slug }}%20&via=texastribune" title="share on Twitter" class="social-share" target="_blank">
        <i class="fa fa-twitter"></i>
        </a>
        <a href="https://www.facebook.com/dialog/share?app_id=154122474650943&display=popup&href=http%3A%2F%2Fapps.texastribune.org%2Fblood-lessons%2F{{ META.section_4_slug }}&redirect_uri=http%3A%2F%2Fapps.texastribune.org%2Fblood-lessons%2F{{ META.section_4_slug }}" title="share on Facebook" class="social-share" target="_blank">
        <i class="fa fa-facebook"></i>
        </a>
        <p>{{ DATA.shareline_2 }}</p>
      </li>
    </ul>
  </div>
  <section class="prose">
    {{ DATA.text }}
    <h2>Incidents</h2>
    {% for incident in DB %}
      <div class="incident">
        <div class="top-details">
          <p class="date">{{incident.Date}}</p>
          <p class="location">{{incident.City}}, {{incident.State}}</p>
          <p class="company">{{incident.Company}}</p>
        </div>
        <div class="bottom-details">
          <div class="deaths">
            <div class="number">
            {% if incident.Dead < 10 %}
              0{{incident.Dead}}
            {% else %}
              {{incident.Dead}}
            {% endif %}
            </div>
            {% if incident.Dead == 1 %}
              <p>Death</p>
            {% else %}
              <p>Deaths</p>
            {% endif %}
          </div>
          <div class="details">
            {% if incident.Names %}
              <div class="names">
                <h4>Deceased</h4>
                <p>{{incident.Names}}</p>
              </div>
            {% endif %}
            <h4>Incident Summary</h4>
            <p>{{incident.Summary}}</p>
            <h4>More Information</h4>
            <ul class="links">
              {% if incident.OSHA_Link %}
                <li><a href="{{incident.OSHA_Link}}">OSHA Report</a></li>
              {% endif %}
              {% if incident.News_Link %}
                <li><a href="{{incident.News_Link}}">
                  {% if incident.News_Source %}
                    Article from {{incident.News_Source}}
                  {% else %}
                    News Article
                  {% endif %}
                </a></li>
              {% endif %}
            </ul>
          </div>
          <div class="clearfix"></div>
        </div>
    {% endfor %}
  </section>
  <section class="prose">
    <p class="disclosure">
      {{DATA.disclosure}}
    </p>
  </section>
  <section class="sub-navigation prose">
    <h3>More in this feature</h3>
    <ul>
      <li><a href="../{{OVERVIEW.slug }}">{{OVERVIEW.headline}}</a> {{OVERVIEW.subhead}}</li>
      <li><a href="../{{MAIN.slug }}">{{MAIN.headline }}</a> {{MAIN.subhead}}</li>
      <li><a href="../{{VIDEO.slug }}">{{VIDEO.headline}}</a> {{VIDEO.subhead}}</li>
    </ul>
  </section>
</div>
{% endblock %}

{% block script %}
{{ super()}}
{% endblock %}
