$banner-bp: new-breakpoint(min-width 815px);

.banner{
  border-top:2px solid $href-teal;
  height:15em;
  @include media($banner-bp){
    height:400px;
  }
  .banner-image {
    background-image:url(../assets/images/TexasCity-Banner1.jpg);
    height:15em;
    width:100%;
    background-repeat:no-repeat;
    background-position:center center;
    background-color:#333;
    @include media($banner-bp){
      height:400px;
    }
  }
  .grand-header {
    padding: 0.5em;
    .story-container{
      max-width:880px;
    }
    h1 {
      margin-bottom:0.4em;
      @include media($default-560) {
        margin-bottom:0.25em;
      }
      @include media($medium) {
        font-size:3em;
      }
      @include media($small) {
        font-size:2.5em;
      }
    }
    p.subhead {
      font-size:1.5em;
      text-shadow: black 2px 2px 0;
      line-height:1.5em;
      margin:1em;
      @include media($default-560){
        font-size:1.75em;
      }
      @include media($banner-bp) {
        font-size:2em;
      }
    }
    p.byline {
      font-size:1em;
      @include media($default-560){
        font-size:1.25em;
      }
    }
  }
}
