$banner-bp: new-breakpoint(min-width 815px);

.banner{
  height:13.5em;
  @include media($banner-bp) {
    height:400px;
  }
  @include media($default-768) {
    border-top:2px solid $href-teal;
  }
  .project-title{
    display: block;
    width:100%;
    position: absolute;
    top:0.25em;
    text-align:center;
    font-family:league-gothic;
    text-transform:uppercase;
    font-size:2em;
    letter-spacing:0.03em;
    @include media($default-768){
      display: none;
    }
    a{
      color:$light-teal;
    }
  }
  .banner-image {
    height:13.5em;
    width:100%;
    background-repeat:no-repeat;
    background-position:center center;
    background-color:#333;
    @include media($banner-bp) {
      height:400px;
    }
    @include media($default-560) {
      background-image:url("../assets/images/TxCity-Cover.jpg");
      &.disaster{
        background-image:url("../assets/images/TxCity-Cover-Anatomy.jpg")
      }
      &.video{
        background-image:url("../assets/images/TxCity-Cover-Survivors.jpg");
      }
      &.data{
        background-image:url("../assets/images/TxCity-Cover-DeadlyIndustry.jpg");
      }
    }
  }
  .grand-header {
    padding: 0.5em;
    background-color:initial;
    .story-container{
      max-width:940px;
    }
    h1 {
      margin-bottom:0.4em;
      @include media($default-560) {
        margin-bottom:0.25em;
      }
      @include media($medium) {
        font-size:3em;
      }
      @include media($small) {
        font-size:2.5em;
      }
    }
    p{
      line-height:1.25em;
      &.subhead {
        font-size:1.1em;
        text-shadow: black 2px 2px 0;
        margin:0.5em 0;
        @include media($default-560) {
          font-size:1.5em;
        }
        @include media($banner-bp) {
          font-size:2em;
          margin:1em 0.5em;
        }
      }
      &.byline {
        letter-spacing: 0.03em;
        font-size:0.9em;
        margin-bottom:0.5em;
        a {
          color:$light-teal;
        }
        @include media($default-560) {
          font-size:1.1em;
          margin-bottom:1.5em;
        }
      }
    }
    @include media($default-560){
      background-color: rgba(17, 17, 17, 0.4);
    }
  }
}
