$banner-bp: new-breakpoint(min-width 815px);

.banner-image{
  background-image:url(../assets/images/TexasCity-Banner2.jpg);
  height: 12em;
  width: 100%;
  background-repeat: no-repeat;
  background-position: center center;
  background-color: #333;
  @include media($banner-bp){
    height:300px;
  }
}

.banner{
  height: 12em;
  @include media($banner-bp){
    height:300px;
  }
  .grand-header {
    h1 {
      margin-bottom:0.75em;
      @include media($default-560) {
        margin-bottom:0.25em;
      }
      @include media($medium) {
        font-size:3em;
      }
      @include media($small) {
        font-size:2.5em;
      }
    }
    p.subhead {
      @include media($medium) {
        font-size:1.3em;
      }
      @include media($small) {
        font-size:1.1em;
      }
    }
  }
}
