$med-header: new-breakpoint(min-width 451px max-width 560px);
$small-header: new-breakpoint(max-width 450px);

.masthead {
  .branding {
    padding: 0.5em 0;
    .sub-text {
      color:white;
      vertical-align: text-top;
      display: inline;
      line-height:0.7em;
      @include media($med-header){
        line-height:0em;
      }
      @include media($small-header){
        display:none;
      }
      @include media($default-768){
        line-height:0.3em;
        font-size: 1.25em;
      }
    }
    a {
      padding:0;
      margin:0;
      .trib-logo{
        height: 1.1em;
        @include media($default-768){
          height:1.25em;
        }
        @include media($small-header){
          margin-bottom:0.25em;
        }
      }
      .chron-logo{
        height: 1.5em;
        @include media($default-768){
          height: 1.75em;
        }
      }
      @include media($small-header){
        float:left;
      }
    }
    img {
      padding:0 0.4em;
      @include media($med-header){
        margin:0.3em 0;
      }
      @include media($small-header){
        display: block;
      }
    }
  }
  &.alternate{
    .container{
      max-width:none;
      .branding{
        @include media($default-768){
          padding:0.5em;
          float:left;
          width:auto;
        }
      }
      .project-title{
        display: none;
        @include media($default-768){
          display: block;
          float:right;
          font-family:league-gothic;
          text-transform:uppercase;
          font-size:2em;
          letter-spacing:0.03em;
          padding:0.25em 0.5em;
        }
        a{
          color:$light-teal;
        }
      }
    }
  }
}
