.sharelines {
  @extend %content-block;
  p {
    color: $text-gray;
    font-family: $base-sans-serif;
    font-size: .85em;
    font-weight: 300;
    letter-spacing: .02em;
    line-height: 1.2;
    @include media($med-header){
      padding-left:0.5em;
      @include span-columns(10);
      @include omega();
    }
    @include media($default-560){
      margin:1em 0;
    }
  }
  ul {
    list-style-type: none;
    padding-left: 0;
    border-top:1px solid $border-gray;

    li {
      border-bottom: 1px solid $border-gray;
      margin: auto;
      @include media($med-header){
        padding:0.5em 0;
        @include clearfix;
      }
    }
    @include clearfix;
  }

  a {
    text-decoration: none;
    &:active {
      color: $share-button-black;
    }

    &:hover {
      color: $share-button-black;
    }
    @include media($med-header){
      @include span-columns(1);
    }
  }

  .fa {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    color: #666;
    display: inline-block;
    float: left;
    font-family: FontAwesome;
    font-size: 1.3em;
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    margin-bottom: .5em;
  }

  .fa-twitter {
    color: $tw-blue;

    &:active,
    &:hover {
      color: $tw-hover;
    }

    &:before {
      border-right: 1px solid #ccc;
      content: '\f099';
      padding-right: .3em;
    }
  }


  .fa-facebook {
    color: $fb-blue;
    margin-right: .25em;

    &:active,
    &:hover {
      color: $fb-hover;
    }

    &:before {
      content: '\f09a';
      padding: 0 .5em;
    }
  }

  @include media($story-large) {
    p {
      font-size: .8em;
    }

    .fa {
      font-size: 1em;
    }
  }
  @include clearfix;
}
