{% extends "templates/_base_sub.html" %}

{% block styles %}
{{ super() }}
{% endblock %}

{%block nav %}
<nav id="menu">
  <ul>
    <a href="../{{META.section_1_slug }}"><li>{{ META.section_1_title }}</li></a>
    <a href="../{{META.section_2_slug }}"><li>{{ META.section_2_title }}</li></a>
    <a href="../{{META.section_3_slug }}"><li class="selected">{{ META.section_3_title }}</li></a>
    <a href="../{{META.section_4_slug }}"><li>{{ META.section_4_title }}</li></a>
  </ul>
</nav>
{% endblock %}


{%block headline %}
<h1><a href="">{{ META.section_3_title}}</a></h1>
<p class="subhead">{{VIDEO.headline }}</p>
<p class="byline">By <a href="{{ VIDEO.author_url}} ">{{ VIDEO.byline }}</a> and <a href="{{ VIDEO.author_2_url}} ">{{ VIDEO.byline_2 }}</a> | {{ VIDEO.pub_date }}</p>
{%endblock%}


{% block content %}
<div class="story-content">
  <div class="sharelines">
    <ul>
      <li>
        <a href="https://twitter.com/intent/tweet?text={{ VIDEO.shareline_1 | urlencode }}%20http%3A%2F%2Fapps.texastribune.org%2Fblood-lessons%2F{{ META.section_3_slug }}%20&via=texastribune" title="share on Twitter" class="social-share" target="_blank">
        <i class="fa fa-twitter"></i>
        </a>
        <a href="https://www.facebook.com/dialog/share?app_id=154122474650943&display=popup&href=http%3A%2F%2Fapps.texastribune.org%2Fblood-lessons%2F{{ META.section_3_slug }}&redirect_uri=http%3A%2F%2Fapps.texastribune.org%2Fblood-lessons%2F{{ META.section_3_slug }}" title="share on Facebook" class="social-share" target="_blank">
        <i class="fa fa-facebook"></i>
        </a>
        <p>{{ VIDEO.shareline_1 }}</p>
      </li>
      <li>
        <a href="https://twitter.com/intent/tweet?text={{ VIDEO.shareline_2 | urlencode }}%20http%3A%2F%2Fapps.texastribune.org%2Fblood-lessons%2F{{ META.section_3_slug }}%20&via=texastribune" title="share on Twitter" class="social-share" target="_blank">
        <i class="fa fa-twitter"></i>
        </a>
        <a href="https://www.facebook.com/dialog/share?app_id=154122474650943&display=popup&href=http%3A%2F%2Fapps.texastribune.org%2Fblood-lessons%2F{{ META.section_3_slug }}&redirect_uri=http%3A%2F%2Fapps.texastribune.org%2Fblood-lessons%2F{{ META.section_3_slug }}" title="share on Facebook" class="social-share" target="_blank">
        <i class="fa fa-facebook"></i>
        </a>
        <p>{{ VIDEO.shareline_2 }}</p>
      </li>
    </ul>
  </div>
  <section class="prose">
      {{ VIDEO.text }}
      {{VIDEO.video_1_text}}
      {{VIDEO.video_1_code}}
      <hr class="yellow" />
      {{VIDEO.video_2_text}}
      {{VIDEO.video_2_code}}
      <p class="disclosure">
        {{META.disclosure}}
      </p>
  </section>
  <section class="sub-navigation prose">
    <h3>More in this feature</h3>
    <ul>
      <li><a href="../{{META.section_1_slug }}">{{META.section_1_title }}</a> {{OVERVIEW.headline}}</li>
      <li><a href="../{{META.section_2_slug }}">{{META.section_2_title }}</a> {{REFORM.headline}}</li>
      <li><a href="../{{META.section_4_slug }}">{{META.section_4_title }}</a> {{DATA.headline}}</li>
    </ul>
  </section>
</div>
{% endblock %}

{% block script %}
{{ super()}}
{% endblock %}
