{% extends "templates/_base.html" %}

{% block styles %}
{{ super() }}
{% endblock %}

{%block nav %}
<nav id="menu">
  <ul>
    <a href="{{META.section_1_slug }}"><li class="selected">{{ META.section_1_title }}</li></a>
    <a href="{{META.section_2_slug }}"><li>{{ META.section_2_title }}</li></a>
    <a href="{{META.section_3_slug }}"><li>{{ META.section_3_title }}</li></a>
    <a href="{{META.section_4_slug }}"><li>{{ META.section_4_title }}</li></a>
  </ul>
</nav>
{% endblock %}


{%block headline %}
<p class="subhead">{{OVERVIEW.headline }}</p>
<p class="byline">By <a href="{{ OVERVIEW.author_url}} ">{{ OVERVIEW.byline }}</a> | {{ OVERVIEW.pub_date }}</p>
{%endblock%}

{% block content %}
<div class="story-container">
  <div class="story-content">
    <div class="sharelines">
      <ul>
        <li>
          <a href="https://twitter.com/intent/tweet?text={{ OVERVIEW.shareline_1 | urlencode }}%20http%3A%2F%2Fapps.texastribune.org%2Fblood-lessons%2F{{ META.section_1_slug }}%20&via=texastribune" title="share on Twitter" class="social-share" target="_blank">
          <i class="fa fa-twitter"></i>
          </a>
          <a href="https://www.facebook.com/dialog/share?app_id=154122474650943&display=popup&href=http%3A%2F%2Fapps.texastribune.org%2Fblood-lessons%2F{{ META.section_1_slug }}&redirect_uri=http%3A%2F%2Fapps.texastribune.org%2Fblood-lessons%2F{{ META.section_1_slug }}" title="share on Facebook" class="social-share" target="_blank">
          <i class="fa fa-facebook"></i>
          </a>
          <p>{{ OVERVIEW.shareline_1 }}</p>
        </li>
        <li>
          <a href="https://twitter.com/intent/tweet?text={{ OVERVIEW.shareline_2 | urlencode }}%20http%3A%2F%2Fapps.texastribune.org%2Fblood-lessons%2F{{ META.section_1_slug }}%20&via=texastribune" title="share on Twitter" class="social-share" target="_blank">
          <i class="fa fa-twitter"></i>
          </a>
          <a href="https://www.facebook.com/dialog/share?app_id=154122474650943&display=popup&href=http%3A%2F%2Fapps.texastribune.org%2Fblood-lessons%2F{{ META.section_1_slug }}&redirect_uri=http%3A%2F%2Fapps.texastribune.org%2Fblood-lessons%2F{{ META.section_1_slug }}" title="share on Facebook" class="social-share" target="_blank">
          <i class="fa fa-facebook"></i>
          </a>
          <p>{{ OVERVIEW.shareline_2 }}</p>
        </li>
      </ul>
    </div>
    <section class="prose">
      {{ OVERVIEW.text_1 }}
      <div class="inline-feature">
        <h3>Investigative Findings</h3>
          {{ OVERVIEW.findings }}
      </div>
      {{ OVERVIEW.text_2 }}
    </section>
    <hr class="yellow" />
    <section>
      <div class="flexslider">
        <ul class="slides">
        {% for slide in SLIDESHOW %}
          <li>
            <div class="big-block slider-image">
              <img alt="Texas City Explosion" src="assets/images/slideshow/{{ slide.Photo }}">
            </div>
            <div class="small-block">
              <p class="photo-credit">{{slide.Credit}}</p>
              <p>{{ slide.Caption }}</p>
            </div>
          </li>
        {% endfor %}
        </ul>
      </div>
    </section>
    <hr class="yellow" />
    <section class="prose">
      {{ OVERVIEW.text_3 }}
      <div class="ad-container box-ad" id="div-gpt-ad-1406570316312-1">
        <script>
          googletag.cmd.push(function() {
            googletag.display('div-gpt-ad-1406570316312-1');
          });
        </script>
      </div>
      {{ OVERVIEW.text_4 }}
    </div>
  </div>
</div>
<div class="story-container prose">
  <hr class="yellow" />
  <h2>Timeline: The Aftermath of Texas City</h2>
  <div id="timeline">
    <iframe height="450px" width="100%" frameborder="0" scrolling="no" src="http://graphics.texastribune.org/graphics/tx-city-ten-years/"></iframe>
  </div>
  <hr class="yellow" />
</div>
<div class="story-container">
  <div class="story-content">
    <section class="prose">
      <p class="disclosure">
        {{META.disclosure}}
      </p>
    </section>
    <section class="sub-navigation prose no-line">
      <h3>More in this feature</h3>
      <ul>
        <li><a href="{{META.section_2_slug }}">{{META.section_2_title}}</a> {{REFORM.headline}}</li>
        <li><a href="{{META.section_3_slug }}">{{META.section_3_title}}</a> {{VIDEO.headline}}</li>
        <li><a href="{{META.section_4_slug }}">{{META.section_4_title}}</a> {{DATA.headline}}</li>
      </ul>
    </section>
  </div>
</div>

{% endblock %}

{% block script %}
{{ super()}}
{% endblock %}
