{% extends "templates/_base_sub.html" %}

{% block meta %}
{{ super () }}
<meta property="og:url" content="http://apps.texastribune.org/blood-lessons/{{ MAIN.slug }}">
<meta property="og:description" content="{{ MAIN.subhead }}">
<meta property="og:title" content="{{ META.project_title }}: {{ MAIN.headline }}">
<meta property="og:redirect_uri" content="//s3.amazonaws.com/apps.texastribune.org/blood-lessons/{{ MAIN.slug }}">
<meta property="og:image" content="http://s3.amazonaws.com/apps.texastribune.org/blood-lessons/assets/images/social/{{ MAIN.slug }}-fb.png">
<meta name="twitter:title" content="{{ MAIN.headline }} | Blood Lessons">
<meta name="twitter:description" content="{{ MAIN.subhead }}">
<meta name="twitter:image" content="//s3.amazonaws.com/apps.texastribune.org/blood-lessons/assets/images/social/{{ MAIN.slug }}-fb.png">
{% endblock %}

{% block styles %}
{{ super() }}
{% endblock %}

{% block nav %}
<nav id="menu">
  <ul>
    <a href="../{{OVERVIEW.slug }}"><li>{{ OVERVIEW.headline }}</li></a>
    <a href="../{{MAIN.slug }}"><li class="selected">{{ MAIN.headline }}</li></a>
    <a href="../{{VIDEO.slug }}"><li>{{ VIDEO.headline }}</li></a>
    <a href="../{{DATA.slug }}"><li>{{ DATA.headline }}</li></a>
  </ul>
</nav>
{% endblock %}

{% block bannerimg %}
<div class="banner-image {{MAIN.slug}}"></div>
{% endblock %}

{% block headline %}
<h1>{{ MAIN.headline}}</h1>
<p class="subhead">{{MAIN.subhead }}</p>
<p class="byline">By <a href="{{ MAIN.author_1_url}} ">{{ MAIN.byline_1 }}</a>, <a href="{{ MAIN.author_2_url}} ">{{ MAIN.byline_2 }}</a> and <a href="{{ MAIN.author_3_url}} ">{{ MAIN.byline_3 }}</a> | {{ MAIN.pub_date }}</p>
{% endblock %}


{% block content %}
<div class="story-content">
  <div class="sharelines">
    <ul>
      <li>
        <a href="https://twitter.com/intent/tweet?text={{ MAIN.shareline_1 | urlencode }}%20http%3A%2F%2Fapps.texastribune.org%2Fblood-lessons%2F{{ MAIN.slug }}&via=texastribune" title="share on Twitter" class="social-share" target="_blank">
        <i class="fa fa-twitter"></i>
        </a>
        <a href="https://www.facebook.com/dialog/share?app_id=154122474650943&display=popup&href=http%3A%2F%2Fapps.texastribune.org%2Fblood-lessons%2F{{ MAIN.slug }}&redirect_uri=http%3A%2F%2Fapps.texastribune.org%2Fblood-lessons%2F{{ MAIN.slug }}%2F" title="share on Facebook" class="social-share" target="_blank">
        <i class="fa fa-facebook"></i>
        </a>
        <p>{{ MAIN.shareline_1 }}</p>
      </li>
      <li>
        <a href="https://twitter.com/intent/tweet?text={{ MAIN.shareline_2 | urlencode }}%20http%3A%2F%2Fapps.texastribune.org%2Fblood-lessons%2F{{ MAIN.slug }}&via=texastribune" title="share on Twitter" class="social-share" target="_blank">
        <i class="fa fa-twitter"></i>
        </a>
        <a href="https://www.facebook.com/dialog/share?app_id=154122474650943&display=popup&href=http%3A%2F%2Fapps.texastribune.org%2Fblood-lessons%2F{{ MAIN.slug }}&redirect_uri=http%3A%2F%2Fapps.texastribune.org%2Fblood-lessons%2F{{ MAIN.slug }}%2F" title="share on Facebook" class="social-share" target="_blank">
        <i class="fa fa-facebook"></i>
        </a>
        <p>{{ MAIN.shareline_2 }}</p>
      </li>
    </ul>
  </div>
  <section class="prose">
    {{ MAIN.text_1 }}
    <div class="photo">
      <img src="../assets/images/{{MAIN.photo_1}}" />
      <p class="credit">{{ MAIN.photo_credit_1 }}</p>
      <p class="caption">{{MAIN.photo_caption_1 }}</p>
    </div>
    {{ MAIN.text_2 }}
    <div class="photo">
        {{ MAIN.video_code }}
        <p>{{ MAIN.video_caption }}</p>
    </div>
    {{MAIN.text_3}}
    <div class="ad-container box-ad" id="div-gpt-ad-1406570316312-1">
      <script>
        googletag.cmd.push(function() {
          googletag.display('div-gpt-ad-1406570316312-1');
        });
      </script>
    </div>
    {{MAIN.text_4}}
    <div class="block-quote">
       <h2>{{ MAIN.block_quote }}</h2>
       <p>— {{MAIN.block_quote_source}}</p>
    </div>
    {{MAIN.text_5}}
    <div class="photo">
      <img src="../assets/images/{{MAIN.photo_2}}" />
      <p class="credit">{{ MAIN.photo_credit_2 }}</p>
      <p class="caption">{{ MAIN.photo_caption_2 }}</p>
    </div>
    {{MAIN.text_6}}
    <p class="disclosure">
      {{MAIN.disclosure}}
    </p>
  </section>
  <section class="sub-navigation prose">
    <h3>More in this feature</h3>
    <ul>
      <li><a href="../{{OVERVIEW.slug }}">{{OVERVIEW.headline}}</a> {{OVERVIEW.subhead}}.</li>
      <li><a href="../{{VIDEO.slug }}">{{VIDEO.headline}}</a> {{VIDEO.subhead}}.</li>
      <li><a href="../{{DATA.slug }}">{{DATA.headline }}</a> {{DATA.subhead}}.</li>
    </ul>
  </section>
</div>
{% endblock %}

{% block script %}
{{ super() }}
{% endblock %}
