{% extends "templates/_base_sub.html" %}

{% block styles %}
{{ super() }}
{% endblock %}

{% block nav %}
<nav id="menu">
  <ul>
    <a href="../{{OVERVIEW.slug }}"><li>{{ OVERVIEW.headline }}</li></a>
    <a href="../{{REFORM.slug }}"><li class="selected">{{ REFORM.headline }}</li></a>
    <a href="../{{VIDEO.slug }}"><li>{{ VIDEO.headline }}</li></a>
    <a href="../{{DATA.slug }}"><li>{{ DATA.headline }}</li></a>
  </ul>
</nav>
{% endblock %}


{% block headline %}
<h1>{{ REFORM.headline}}</h1>
<p class="subhead">{{REFORM.subhead }}</p>
<p class="byline">By <a href="{{ REFORM.author_1_url}} ">{{ REFORM.byline_1 }}</a>, <a href="{{ REFORM.author_2_url}} ">{{ REFORM.byline_2 }}</a> and <a href="{{ REFORM.author_3_url}} ">{{ REFORM.byline_3 }}</a> | {{ REFORM.pub_date }}</p>
{% endblock %}


{% block content %}
<div class="story-content">
  <div class="sharelines">
    <ul>
      <li>
        <a href="https://twitter.com/intent/tweet?text={{ REFORM.shareline_1 | urlencode }}%20http%3A%2F%2Fapps.texastribune.org%2Fblood-lessons%2F{{ META.section_2_slug }}%20&via=texastribune" title="share on Twitter" class="social-share" target="_blank">
        <i class="fa fa-twitter"></i>
        </a>
        <a href="https://www.facebook.com/dialog/share?app_id=154122474650943&display=popup&href=http%3A%2F%2Fapps.texastribune.org%2Fblood-lessons%2F{{ META.section_2_slug }}&redirect_uri=http%3A%2F%2Fapps.texastribune.org%2Fblood-lessons%2F{{ META.section_2_slug }}" title="share on Facebook" class="social-share" target="_blank">
        <i class="fa fa-facebook"></i>
        </a>
        <p>{{ REFORM.shareline_1 }}</p>
      </li>
      <li>
        <a href="https://twitter.com/intent/tweet?text={{ REFORM.shareline_2 | urlencode }}%20http%3A%2F%2Fapps.texastribune.org%2Fblood-lessons%2F{{ META.section_2_slug }}%20&via=texastribune" title="share on Twitter" class="social-share" target="_blank">
        <i class="fa fa-twitter"></i>
        </a>
        <a href="https://www.facebook.com/dialog/share?app_id=154122474650943&display=popup&href=http%3A%2F%2Fapps.texastribune.org%2Fblood-lessons%2F{{ META.section_2_slug }}&redirect_uri=http%3A%2F%2Fapps.texastribune.org%2Fblood-lessons%2F{{ META.section_2_slug }}" title="share on Facebook" class="social-share" target="_blank">
        <i class="fa fa-facebook"></i>
        </a>
        <p>{{ REFORM.shareline_2 }}</p>
      </li>
    </ul>
  </div>
  <section class="prose">
    {{ REFORM.text_1 }}
    <div class="photo">
      <img src="../assets/images/{{REFORM.photo_1}}" />
      <p class="credit">{{ REFORM.photo_credit_1 }}</p>
      <p class="caption">{{REFORM.photo_caption_1 }}</p>
    </div>
    {{ REFORM.text_2 }}
    <div class="photo">
        {{ REFORM.video_code }}
        <p>{{ REFORM.video_caption }}</p>
    </div>
    {{REFORM.text_3}}
    <div class="ad-container box-ad" id="div-gpt-ad-1406570316312-1">
      <script>
        googletag.cmd.push(function() {
          googletag.display('div-gpt-ad-1406570316312-1');
        });
      </script>
    </div>
    {{REFORM.text_4}}
    <div class="photo">
      <img src="../assets/images/{{REFORM.photo_2}}" />
      <p class="credit">{{ REFORM.photo_credit_2 }}</p>
      <p class="caption">{{ REFORM.photo_caption_2 }}</p>
    </div>
    {{REFORM.text_5}}
    <p class="disclosure">
      {{META.disclosure}}
    </p>
  </section>
  <section class="sub-navigation prose">
    <h3>More in this feature</h3>
    <ul>
      <li><a href="../{{OVERVIEW.slug }}">{{OVERVIEW.headline}}</a> {{OVERVIEW.subhead}}</li>
      <li><a href="../{{VIDEO.slug }}">{{VIDEO.headline}}</a> {{VIDEO.subhead}}</li>
      <li><a href="../{{DATA.slug }}">{{DATA.headline }}</a> {{DATA.subhead}}</li>
    </ul>
  </section>
</div>
{% endblock %}

{% block script %}
{{ super() }}
{% endblock %}
