{% extends "templates/_base_sub.html" %}

{% block styles %}
{{ super() }}
{% endblock %}

{% block content %}
<nav id="top-nav">
  <ul>
    <li><a href="../{{META.section_1_slug }}">{{ META.section_1_title }}</a></li>
    <li><a href="../{{META.section_2_slug }}">{{ META.section_2_title }}</a></li>
    <li class="selected"><a href="../{{META.section_3_slug }}">{{ META.section_3_title }}</a></li>
    <li><a href="../{{META.section_4_slug }}">{{ META.section_4_title }}</a></li>
  </ul>
</nav>
<nav id="sticky-nav"></nav>
<div class="story-content">
  <header class="prose">
    <h1>{{ PEOPLE.headline }}</h1>
    <p class="byline">By <a href="{{ PEOPLE.author_url}} ">{{ PEOPLE.byline }}</a> | {{ PEOPLE.pub_date }}</p>
  </header>
  <div class="sharelines">
    <h3>Sharelines</h3>
    <ul>
      <li>
        <a href="https://twitter.com/intent/tweet?via=texastribune" title="share on Twitter" class="social-share" target="_blank">
        <i class="fa fa-twitter"></i>
        </a>
        <a href="https://www.facebook.com/dialog/share?app_id=154122474650943&display=popup&href=&redirect_uri=" title="share on Facebook" class="social-share" target="_blank">
        <i class="fa fa-facebook"></i>
        </a>
        <p>{{ PEOPLE.shareline_1 }}</p>
      </li>
    </ul>
  </div>
  <section class="prose">
      {{ PEOPLE.text }}
  </section>
</div>
{% endblock %}

{% block script %}
{{ super()}}
{% endblock %}
