<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>{{ META.project_title}} | The Texas Tribune</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="shortcut icon" type="image/x-icon" href="//s3.amazonaws.com/static.texastribune.org/common/images/favicon.ico">
  {% block styles %}
  <link rel="stylesheet" href="../styles/main.css">
  <link href="//netdna.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.css" rel="stylesheet">
  {% endblock %}
</head>
<body>
  <header class="masthead app-bar promote-layer">
    <div class="container menu-container">
      <div class="branding">
        <div class="branding">
        <span class="sub-text">A project by</span>
        <a href="//www.texastribune.org/"><img class="trib-logo desktop" alt="The Texas Tribune" src="http://s3.amazonaws.com/apps.texastribune.org/branding/TxTrib-logo-white500x55.png"></a>
        <span class="sub-text">and</span>
        <a href="//www.houstonchronicle.com"><img class="trib-logo desktop" alt="The Houston Chronicle" src="http://www.houstonchronicle.com/img/modules/siteheader/logos/logo_home_large.png"></a>
      </div>
      </div>
    </div>
  </header>
  <section class="banner">
    <div class="banner-image"></div>
    <header class="grand-header">
      <h1><a href="">{{ META.project_title}}</a></h1>
      <p class="subhead">{{ META.project_subtitle}}</p>
    </header>
  </section>
  <div class="story-container">
    <nav id="top-nav">
      <ul>
        <li><a href="../{{META.section_1_slug }}">{{ META.section_1_title }}</a></li>
        <li><a href="../{{META.section_2_slug }}">{{ META.section_2_title }}</a></li>
        <li><a href="../{{META.section_3_slug }}">{{ META.section_3_title }}</a></li>
      </ul>
    </nav>
    <nav id="sticky-nav"></nav>
    {% block content %}{% endblock %}
  </div>
  <footer class="footer">
    <div class="footer-container">
      <div>
        <a href="https://twitter.com/newsapps"><img class="logo" src="//s3.amazonaws.com/apps.texastribune.org/branding/TxTrib-NewsApps-yellow.svg" alt="Texas Tribune News Apps logo, links to News Apps' Twitter account"></a>
      </div>
      <div>
        <ul>
          <li><a href="http://www.facebook.com/texastribune"><i class="icon fa-facebook-square"></i>Facebook</a></li>
          <li><a href="http://twitter.com/TexasTribune"><i class="icon fa-twitter-square"></i>Twitter</a></li>
          <li><a href="http://www.youtube.com/user/thetexastribune"><i class="icon fa-youtube-play"></i>YouTube</a></li>
          <li><a href="http://instagram.com/texas_tribune"><i class="icon fa-instagram"></i>Instagram</a></li>
          <li><a href="http://www.linkedin.com/company/texas-tribune"><i class="icon fa-linkedin-square"></i>LinkedIn</a></li>
        </ul>
      </div>
      <div class="internal-links">
        <ul>
        <li><a href="http://www.texastribune.org/about/">About Us</a></li>
        <li><a href="http://www.texastribune.org/support-us/donors-and-members/">Who Funds Us?</a></li>
        <li><a href="http://www.texastribune.org/terms-of-service/">Terms of Service</a></li>
        <li><a href="http://www.texastribune.org/ethics/">Code of Ethics</a></li>
        <li><a href="http://www.texastribune.org/privacy/">Privacy Policy</a></li>
        <li><a href="http://www.texastribune.org/corrections/">Corrections</a></li>
        <li><a href="https://www.texastribune.org/join/" class="donate-link">Donate</a></li>
      </ul>
      </div>
      <div class="donate">
        <ul>
          <li>Nonpartisan.</li>
          <li>Nonprofit.</li>
          <li>Statewide.</li>
          <a href="https://www.texastribune.org/join/"><li>Join Us</li></a>
        </ul>
      </div>
    </div>
  </footer>
  {% block script %}
  <script>
    (function(c,o,r,g,i,s){c.GoogleAnalyticsObject=g;c[g]||(c[g]=
    function(){(c[g].q=c[g].q||[]).push(arguments)});c[g].g=+new Date;
    i=o.createElement(r);s=o.getElementsByTagName(r)[0];
    i.src='//www.google-analytics.com/analytics.js';
    s.parentNode.insertBefore(i,s)}(window,document,'script','ga'));
    ga('create','UA-9827490-7');ga('send','pageview');
  </script>
  <script src="..scripts/main.js"></script>
  {% endblock %}
</body>
</html>
